.container-fluid {
  padding: 20px;
}

.box {
  height: 500px;
  overflow: auto;
  margin-bottom: 20px;
}

.table-responsive {
  max-height: 450px;
  overflow: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  height: 100%;
}

.card-body {
  overflow: auto;
  flex-grow: 1;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
}

.blue-text {
  color: blue;
}

.maroon-text {
  color: maroon;
}

.search-box {
  margin-bottom: 20px;
}
